.formPadding {
  width: 100%;
  height: 100%;
  background-color: #6683e2;
}

.formTitle {
  text-align: center;
}

.authenticationField {
  padding-top: 1em;
  text-align: center;
}

.signInButton {
  margin-top: 1em;
}

.MyForm {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
