.formPadding {
  width: 100%;
  height: 100%;
}

.signInTitle {
  text-align: center;
  color: white;
}
.signInSubtitle {
  text-align: center;
  color: white;
}

.authenticationField {
  text-align: center;
}

.signInButton {
  margin-top: 1em;
}

.MyForm {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wideCard {
  width: 35vw;
}

.topHalf {
  background-color: #6683e2;
  width: 100vw;
  height: 50vh;
}

.bottomHalf {
  background-color: red;
}

.centerGrey {
  color: grey;
  text-align: center;
}
