.sticky_top {
	position: fixed;
	background-color: #90caf9;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-flow: row wrap;
	align-items: flex-end;
}

.sticky_top .title_element {
	float: right;
	padding: 20px;
	text-decoration: none;
	text-align: center;
	color: #f2f2f2;
	vertical-align: center;

}

.sticky_top a:hover {
	background-color: #64b5f6;
}

.sticky_name{
	color: #f2f2f2;
	padding-left: 20px;
	float: left;
	text-align: center;	
	vertical-align: center;
}
